<ion-view view-title="Home de mi App" hide-back-button="true">
  <ion-content>
  <!-- lista de links definidos en js/app.js -->
    <div class="list">
      <a href="#/estadoUno" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Ir a estado 1
      </a>
      <a href="#/estadoDos" class="item item-icon-left">
        <i class="icon ion-ios-partlysunny"></i> Ir a estado 2
      </a>
      <a href="#/estadoTres" class="item item-icon-left">
        <i class="icon ion-fork"></i> Ir a estado 3
      </a>
    </div>
  </ion-content>
</ion-view>
